 <footer class="footer" >
<div id="footer" class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Address</h3>
      <p>Address of the business office</p>
      <i class="fa fa-address-card" aria-hidden="true"></i>
        <p>Piyush Vashist </p>
      <p>U block, DLF phase-3 Gurgaon </p>
    </div>
    <div class="col-sm-4">
      <h3>Products</h3>
      <p>Products list</p>
      <ul>
        <li>Web Development</li>
        <li>Web Services</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h3>Social Media</h3>
      <div class="row">
        <div class="col-2">
          <a href="https://www.facebook.com/piyush.vashist61" class="fa fa-facebook"></a>
        </div>
        <div class="col-2">
          <a href="https://www.linkedin.com/in/piyush-vashist-1388386b/" class="fa fa-linkedin"></a>
        </div>
        <div class="col-2">
          <a href="https://github.com/piyushvashist18" class="fa fa-github"></a>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
